[flake8]
max-line-length = 88

extend-ignore = BLK,T
enable = DAR104
# E203 and W503 conflict with black
ignore = E203,W503
max-complexity = 10

docstring-style = sphinx
rst-roles = py:attr, py:class, py:const, py:exc, py:func, py:meth, py:mod
rst-directives = uml

per-file-ignores =
    # N802 = PEP8 lowercase function name -- conflicts with Tango conventions
